{% extends 'base.html.twig' %}

{% block title %}Edit AccountHolder{% endblock %}

{% block body %}
    <h1>Edit AccountHolder</h1>

    {{ include('account_holder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('account_holder_index') }}">back to list</a>

    {{ include('account_holder/_delete_form.html.twig') }}
{% endblock %}
