{% extends 'base.html.twig' %}

{% block body %}
    <h1>Withdraw</h1>

    {{ include('transaction/_form.html.twig', {'button_label': 'Withdraw'}) }}

    <a href="{{ path('account_show', {'id': account.id}) }}">back to account</a>
{% endblock %}
